<ion-header>
  <ion-navbar primary>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><span text-color="colortitle">Aulas</span></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div padding text-center>
    <ion-spinner *ngIf="!pronto"></ion-spinner>
  </div>

  <form (ngSubmit)="onSubmit()" #validateForm="ngForm" class="hidden">
    <input type="text" required [(ngModel)]="dtaAula" name="dtaAula">

  </form>

  <ion-card   style="border-radius: 10px; background-color: #F5F5F5">
    <ion-card-header no-padding>
      <ion-row no-padding>
        <ion-col text-left>
          <button ion-button clear small color="primary" [disabled]="!validateForm.form.valid" (click)="pickDtaFinal()" icon-start>
            <ion-icon name='search' style="font-size: 30px"></ion-icon>
            Pesquisar
          </button>
        </ion-col>
        <ion-col text-right>
          <button ion-button clear small color="primary" (click)="removeSelection()" icon-start>
            <ion-icon name='share-alt' style="font-size: 30px"></ion-icon>
            Limpar
          </button>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content no-padding>
      <ion-list>
        <ion-item>
          <ion-label><ion-icon name='calendar' item-start style="color: #3091b7; font-size: 20px" no-padding></ion-icon>Data:</ion-label>
          <ion-datetime displayFormat="MMM/YYYY" doneText="Incluir" cancelText="Cancelar" [(ngModel)]="dtaAula"
                        monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez"></ion-datetime>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

    <button class="aulas-button" *ngFor="let aula of aulas | async" (click)="detalhe(aula)" no-lines>
      <ion-card style="border-radius: 30px">
        <ion-item>
          <ion-icon name='school' item-start style="color: #3091b7; font-size: 20px"></ion-icon>
          <h2>{{ aula.classe}}</h2>
          <ion-badge item-end style="font-size: 15px">{{ aula.data }}</ion-badge>
        </ion-item>
      </ion-card>
    </button>

  <ion-fab right bottom>
    <button ion-fab color="primary"(click)="adicionarAula()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
