page-classe-editar {

  ion-row {
    align-items: center;
    text-align: center;
  }

  ion-card {
    border-radius: 10px !important;
    padding-left: 10px !important;
    font-size: 0.9em;
  }

}
