// http://ionicframework.com/docs/v2/theming/

$BACK_TOP: #3091b7;
$BACK_BOTTOM: #2e7399;
$BACK_TRANSPARENCY: rgba(255,255,255,0.4);

.toolbar-background {
  //background-color: #3091b7;
  background: -webkit-gradient(linear, left top, left bottom, $BACK_TOP, $BACK_BOTTOM);
  background: -o-linear-gradient(linear, left top, left bottom, $BACK_TOP, $BACK_BOTTOM);
  background: -moz-linear-gradient(linear, left top, left bottom, $BACK_TOP, $BACK_BOTTOM);
  background: linear-gradient(to bottom, $BACK_TOP, $BACK_BOTTOM);
  background-repeat: repeat-x;
}

[text-color="colortitle"] {
  color: white;
}

.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
  color: #ffffff;
}

.master{
  background-color: #F5F5F5;
}

.item-background {
  background-color: #3091b7;
}

.hidden {
  display: none!important;
}


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
